.inline li {
	display: inline-block;
	margin-left: 30px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

#nav {
	margin-top: 30px;
}

#settings {
	margin-top: 60px;
}

.postTitle:first-letter {
	text-transform: capitalize;
}