.inline li {
	display: inline-block;
	margin-left: 30px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

#nav {
	margin-top: 30px;
}

#settings {
	margin-top: 60px;
}

.postTitle:first-letter {
	text-transform: capitalize;
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#preloader {
	-webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
}


@-webkit-keyframes color_change {
	from { color: blue; }
	to { color: red; }
}
@-moz-keyframes color_change {
	from { color: blue; }
	to { color: red; }
}
@-ms-keyframes color_change {
	from { color: blue; }
	to { color: red; }
}
@-o-keyframes color_change {
	from { color: blue; }
	to { color: red; }
}
@keyframes color_change {
	from { color: blue; }
	to { color: red; }
}

#postTitle {
	margin-top: -50px;
}