<div class="container" ng-controller="editorController">
	<h5 id="postTitle">
	{{utils.getPostTitle(fileName)}}
	</h5>
	<a href="#/" class="close" style="position: fixed;right: 30px;top: 20px;z-index: 999"></a>
	<div id="in"><form><textarea id="code" ng-model="editorContent"></textarea></form></div>
	<div id="out" ng-bind-html="html"></div>
	<!-- <button class="button-primary button-outline" ng-click="updatePost()">Save post</button> -->
	<!-- <button class="button-primary button-outline" ng-click="publishPost()">Publish post</button> -->
</div>